.text1 {
  font-size: 34rpx;
  color: #fa436a;
}

.text2 {
	color: #909399;
	text-decoration: line-through;
	font-size: 26rpx;
}

.text3 {
	font-size: 24rpx;
	color: #909399;
}
.font-size {
	font-size: 26rpx;
	color: #606266;
}

.yticon-icon-you {
	position: absolute;
	right: 1rem;
	font-size: 30rpx;
	color: #888;
}