.text1 {
  font-size: 34rpx;
  color: #fa436a;
}

.text2 {
	color: #909399;
	text-decoration: line-through;
	font-size: 26rpx;
}

.text3 {
	font-size: 24rpx;
	color: #909399;
}
.font-size {
	font-size: 26rpx;
	color: #606266;
}

.yticon-icon-you {
	position: absolute;
	right: 1rem;
	font-size: 30rpx;
	color: #888;
}

.text-overflow {
	overflow: hiddden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.load-more {
	width: 100%; 
	height: 2rem;
	font-size: 30rpx;
	color: rgb(119, 119, 119);
	background-color: f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
}